#backgroundImage{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("https://i.ibb.co/Hqybr6k/Rectangle-1.png");
    width: 100%;
    height: 100vh;
    background-position:center;
    background-size: cover;
    color: white;
    margin: 0;
}